.votes .votelist {display: none;}
.postblock .postfoot .right .votebuttons {display: none;}
.votebutton {
	background: url(http://puu.sh/zITYm/dd22835865.png) no-repeat;
	width: 18px;
	height: 18px;
	padding-left: 18px;
	
}
